*{
    background-color: black;
  }
  div{
    margin-left: 25%;
    width: 50%;
  }
  img{
    width: 100%;
    border: 5px solid white;
  }
  .text{
    text-align: center;
    color: white;
  }
  h1{
    font-family:   "Libre Baskerville", serif;

    text-transform: uppercase;
  }
  
